# 测试报告
当测试计划执行完毕后，会在测试结果生成对应的测试报告
<video :src="$withBase('/assets/web/测试报告.mp4')" width="720px" controls="controls">浏览器不支持video标签</video>

