# 测试报告
当测试计划执行完毕后，会在测试结果生成对应的测试报告
<img :src="$withBase('/assets/web/测试报告.png')" class="zoom">

